/* Coolors Exported Palette - coolors.co/818d92-5d5e60-985f6f-4e4c67-f9edd4 */

/* HSL */
$color1: hsla(198%, 7%, 54%, 1);
$color2: hsla(220%, 2%, 37%, 1);
$color3: hsla(343%, 23%, 48%, 1);
$color4: hsla(244%, 15%, 35%, 1);
$color5: hsla(41%, 76%, 90%, 1);

/* RGB */
$color1: rgba(129, 141, 146, 1);
$color2: rgba(93, 94, 96, 1);
$color3: rgba(152, 95, 111, 1);
$color4: rgba(78, 76, 103, 1);
$color5: rgba(249, 237, 212, 1);