/* Coolors Exported Palette - coolors.co/a6b1e1-b4869f-985f6f-4e4c67-f9edd4 */

/* HSL */
$color1: hsla(229%, 50%, 77%, 1);
$color2: hsla(327%, 23%, 62%, 1);
$color3: hsla(343%, 23%, 48%, 1);
$color4: hsla(244%, 15%, 35%, 1);
$color5: hsla(41%, 76%, 90%, 1);

/* RGB */
$color1: rgba(166, 177, 225, 1);
$color2: rgba(180, 134, 159, 1);
$color3: rgba(152, 95, 111, 1);
$color4: rgba(78, 76, 103, 1);
$color5: rgba(249, 237, 212, 1);