/**********************************************************
RGB COLOR PALETTE ********
$color1: rgba(129, 141, 146, 1);--- Silver/Light Grey
$color2: rgba(93, 94, 96, 1);------ Dark Grey
$color3: rgba(152, 95, 111, 1);---- Rose Dust
$color4: rgba(78, 76, 103, 1);----- Muted Plum/Navy-ish
$color5: rgba(249, 237, 212, 1);--- Champagne
www.coolors.co/818d92-5d5e60-985f6f-4e4c67-f9edd4
**********************************************************/
/***********FONTS*********************
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; 
**************************************/

/***********************************/
/**           GENERAL             **/
/***********************************/
body {
    font-family: 'Raleway', sans-serif; 
    margin: 0;
    padding: 0px 10px;
    background-color: rgba(249, 237, 212, 0.7);
}
.clearfix {
    clear: both;
}

/********************/
/**     HEADER     **/
/********************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 0px;
    background-color: rgba(152, 95, 111, 1);
    border-bottom: 4px solid rgba(78, 76, 103, 1);
}
.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    width: 100%;
    margin: 0;
    padding-left: 10px;
}
#menu-btn {
    background: none;
    border: none;
    float: right;
    padding: 10px;
    margin-right: 5px;
}
.fa-bars {
    font-size: 30px;
}
.menu-close {
    font-size: 30px;
    display: none;
}
.drop-menu {
display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 10;
    background-color: rgba(152, 95, 111, 1);
    height: 200px;
    width: 100px;
    border-left: 4px solid rgba(78, 76, 103, 1);
    border-bottom: 4px solid rgba(78, 76, 103, 1);
}
.drop-menu a {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/********************/
/**      INFO      **/
/********************/
#info {
    margin-top: 80px;
    text-align: center;
}

/********************/
/**    IMG CARDS   **/
/********************/
.door-info {
    width: 45vw;
    height: 47vw;
    border-radius: 10px 10px 0 0;
    background-clip: padding-box;
    box-shadow: 0 1px 12px rgba(152, 95, 111, 1);
}
.door {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-clip: padding-box;
}
.door-info-txt {
    position: relative;
    height: 12vw;
    border-radius: 0 0 10px 10px;
    background-color: rgba(93, 94, 96, 1);
    box-shadow: 0 1px 12px rgba(152, 95, 111, 1);
}
.item-name, .item-price {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-left: 0.3em;
    color: rgba(249, 237, 212, 1);
}
.item-name {
    font-size: 1.2em;
    margin-bottom: 0;
}
.item-price {
    font-size: 1em;
    margin-top: 0;
}

/* .door-cart {
    position: absolute;
    bottom: 10%;
    right: -80%;
}
 */
.payment-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}


/* COMPLETE payment CONTAINER */
.payment {
     width: 80%;
     max-width: 400px;
     height: 40%;
     background-color: white;
     position: fixed;
     top: 20%;
     left: 10%;
     right: 10%;
     box-shadow: 0 1px 12px rgba(93, 94, 96, 1);
    
}

/* INDIVIDUAL PAYMENT BUTTONS AT TOP OF PAYMENT CONTAINER */
.paymnt-btn {
    border-style: none;
    background-color: rgba(78, 76, 103, 1);
    border-radius: 5px;
    width: 30%;
    padding: 0.5em;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    
}
/* INDIVIDUAL CLOSE BUTTON */
.pay-close {
    border: none;
    border-style: none;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    color: rgba(78, 76, 103, 1);

}

/* FORM CONTAINING INPUTS */
#cash-payment {
    flex-basis: 100%;
    padding: 15% 0;
    display: none;

}

.tender-amt{

}

.tender-amt, .tender  {
   margin: 1 auto;
   margin-bottom: 1.5em;
   margin-left: 10px;
}

.tender {
    border: none;
    background-color: rgba(249, 237, 212, 1);
    border-bottom: 2px solid  rgba(152, 95, 111, 1);
    color: rgba(78, 76, 103, 1);
    width: 90%;
}

#cash-pay-btn {
    /* margin-left: 80%; */
    /* margin-top: 20%; */
    position: relative;
    left: 70%;
    transform: translateX(-50%);
    border-style: none;
    background-color: rgba(78, 76, 103, 1);
    border-radius: 5px;
    width: 30%;
    padding: 0.5em;
    color: white;
    /* display: block; */
}

#credit-payment, #credit-pay-btn, #cvv-num, #exp-date, #card-num{
    /* display: none; */
}

#credit-payment {
    padding: 15% 0;
    /* display: flex;
   justify-content: flex-start; */
}

#credit-pay-btn, #cvv-num, #exp-date, #card-num {
    margin: 1 auto;
   margin-bottom: 1.5em;
   /* margin-left: 40px; */
   /* display: block; */
    /* display: none; */
}

#cvv-num{
    width: 20%;
    align-self: flex-start;
    margin-left: 10px;
    border: none;
    background-color: rgba(249, 237, 212, 1);
    border-bottom: 2px solid  rgba(152, 95, 111, 1);
    color: rgba(78, 76, 103, 1);
}

#exp-date {
    width: 60%;
    align-self: flex-start;
    margin-left: 10px;
    border: none;
    background-color: rgba(249, 237, 212, 1);
    border-bottom: 2px solid  rgba(152, 95, 111, 1);
    color: rgba(78, 76, 103, 1);

}

#card-num {
    width: 80%;
    align-self: flex-start;
    margin-left: 10px;
    border: none;
    background-color: rgba(249, 237, 212, 1);
    border-bottom: 2px solid  rgba(152, 95, 111, 1);
    color: rgba(78, 76, 103, 1);

}

.credit-label {
    margin-left: 10px;
    display: block;
}

#credit-pay-btn {
    position: relative;
    left: 57%;
    transform: translateX(-50%);
    border-style: none;
    background-color: rgba(78, 76, 103, 1);
    border-radius: 5px;
    width: 30%;
    padding: 0.5em;
    color: white;
    /* display: block; */
}