/**********************************************************
RGB COLOR PALETTE ********
$color1: rgba(129, 141, 146, 1);--- Silver/Light Grey
$color2: rgba(93, 94, 96, 1);------ Dark Grey
$color3: rgba(152, 95, 111, 1);---- Rose Dust
$color4: rgba(78, 76, 103, 1);----- Muted Plum/Navy-ish
$color5: rgba(249, 237, 212, 1);--- Champagne
www.coolors.co/818d92-5d5e60-985f6f-4e4c67-f9edd4
**********************************************************/
/***********FONTS*********************
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; 
**************************************/

/***********************************/
/**           GENERAL             **/
/***********************************/

















































































/* 
<div class="door-info">
        
            <img class="door" src="" alt="">
        div - info
            <p class="item-name">Name</p>
            <p class="item-price">Price</p>
            <i class="fas fa-cart-plus"></i>
</div> */

.door-info {
    width: 45vw;
    height: 47vw;
    border-radius: 10px 10px 0 0;
    background-clip: padding-box;
    box-shadow: 0 1px 12px rgba(152, 95, 111, 1);
}

.door {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-clip: padding-box;

}

.door-info-txt {
    display: relative;
    height: 12vw;
    border-radius: 0 0 10px 10px;
    background-color: rgba(93, 94, 96, 1);
    box-shadow: 0 1px 12px rgba(152, 95, 111, 1);


}

.item-name, .item-price{
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-left: 0.3em;
    color: rgba(249, 237, 212, 1);
}

.item-name {
    font-size: 1.2em;
    margin-bottom: 0;
   
}

.item-price {
    font-size: 1em;
    margin-top: 0;
}

/* .door-cart {
    position: absolute;
    bottom: 10%;
    right: -80%;
}
 */
