/**********************************************************
RGB COLOR PALETTE ********
$color1: rgba(129, 141, 146, 1);--- Silver/Light Grey
$color2: rgba(93, 94, 96, 1);------ Dark Grey
$color3: rgba(152, 95, 111, 1);---- Rose Dust
$color4: rgba(78, 76, 103, 1);----- Muted Plum/Navy-ish
$color5: rgba(249, 237, 212, 1);--- Champagne
www.coolors.co/818d92-5d5e60-985f6f-4e4c67-f9edd4
**********************************************************/

/***********************************/
/**           GENERAL             **/
/***********************************/